.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100vh;
    border-right: 2px solid rgb(196, 196, 196);
    padding: 25px 0px;
    overflow-y: auto;
    width: 20%;
}

.create-btn{
    width: 167px;
    height: 45px;
    background: var(--unnamed-color-ffcc00) 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-ffcc00);
    background: #FFCC00 0% 0% no-repeat padding-box;
    border: 2px solid #FFCC00;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 50px;
}

.menu {
    width: 100%;
}

.menu div {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu a {
    display: flex;
    align-items: center;
    padding: 8px 5px;
    color: #000000;
    justify-content: flex-start;
    font-style: normal;
    font-weight: 100;
    font-size: 17px;
	font-family: 'Poppins';
}

.active {
    background: #a1a1a133;
    position: relative;
}

.menu img {
    height: 20px!important;
    width: 20px !important;
    padding: 5px;
    border-radius: 50%;
}

.menu span {
    margin-left: 10px;
}

.social {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.social img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 8px;
}

@media (max-width: 1120px) {
    .social img {
        margin-right: 5px;
    }
}

@media (max-width: 992px) {
    .sidebar {
        width: 30%;
        left: -100%;
        transition: 850ms;
        background: white;
        margin-top: 3px;
    }
    .open {
        left: 0%;
    }
    .user-bar{
        display: none;
    }
}

@media (max-width: 700px) {
    .sidebar {
        width: 40%;
    }
}

@media (max-width: 546px) {
    .sidebar {
        width: 50%;
    }
}

@media (max-width: 450px) {
    .sidebar {
        width: 65%;
    }
}

.menu__wrap .active {
    position: relative;
}

.menu__circle__top {
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: px solid red;
    border-left: 10px solid transparent;
    top: -20px;
}